@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --first-color: #3c35ce;
}

body{
    font-family: 'Roboto', sans-serif;
    padding: 1rem 150px 0px 150px;
}

html{
    scroll-behavior: smooth;
}

header{
    border-bottom: 1px solid indianred;
}

.header-title{
    color: var(--first-color);

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
}

.nav--link{
    margin-left: 0.5rem;

}

.brand{
    display: flex;
    border: 1px solid blue;
    /*padding-top: 5px;
    padding-bottom: 5px;*/
}

.brand-left{
    border: 1px solid red;
    width: 60%;
}

.brand-right{
    border: 1px solid green;
    width: 40%;
}

.img-container{
    width: 310px;
    height: 310px;
    border-radius: 50%;
    border: 0.8rem solid var(--first-color);
}

.img-container img{
    width: 310px;
    height: 310px;
    border-radius: 50%;
    object-fit: cover;
    border: 0.8rem solid white;
}

